extends layout

block content
  link(rel="stylesheet" href="/stylesheets/admin.css")
  script(src="http://api.map.baidu.com/api?v=2.0&ak=556c863b72a6499c87afdc23e65de39c")
  script(src="/javascripts/admin.js")

  div(class="navbar navbar-default navbar-static-top" role="navigation")
    div(class="container")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand" href="#") #{title}
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="#") #{user.username}
          li
            a(href="/logout") 退出

  div(class="container")

    div(class="page-header")
      h2 用户管理

    .row
      form.col-sm-6(role='form', action='/api/user/add', method='post')
        input(type='hidden', name='type', value='pile')
        .form-group.col-sm-6
          label 充电桩名
          input.form-control(type='text', name='nickname', placeholder='输入充电桩名称')
        .form-group.col-sm-6
          label 电话
          input.form-control(type='text', name='phone', placeholder='输入电话号码')
        .form-group.col-sm-12
          label 位置
          .input-group
            input.form-control#location(type='text', name='location', placeholder='输入所在的位置')
            span.input-group-btn
              a.btn.btn-default#search 搜索
        .form-group.col-sm-6
          label 经度
          input.form-control(type='text', name='lng', placeholder='输入经度')
        .form-group.col-sm-6
          label 纬度
          input.form-control(type='text', name='lat', placeholder='输入维度')
        .col-sm-6
          button.btn.btn-primary#add(type='submit') 添加
          a.btn.btn-success#encode-map 获得经纬度
        .col-sm-6
        .clearfix
      .col-sm-6#baidumap

    hr

    table(class="table table-striped")
      thead
        tr
          td 用户名
          td 昵称
          td 位置
          td 经纬度
          td 电话
          td 操作
      tbody
        each user in users
          tr(data-id=user.id)
            td= user.username
            td= user.nickname
            td= user.pile.location
            td= user.pile.longitude + ',' + user.pile.latitude
            td= user.phone
            td
              a.delete(class="btn btn-danger btn-xs") 删除
    div(class="clearfix")
